body {
  margin: 0;
  font-family: 'Arial';
  color: #999;
  min-width: 314px;
}
.link {
  color: #257cff;
  padding-top: 5px;
  cursor: pointer;
}
.main-header {
  display: flex;
  width: 100%;
  height: 37px;
  background-color: #efefef;
  border: 1px solid #e6e6e6;
  padding: 16px 10px 0;
  color: #656565;
  font-size: 18px;
}
.label {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 15px 10px;
  margin-bottom: 30px;
  color: #b1b1b1;
}
.footer {
  border: 1px solid #e6e6e6;
  padding: 10px 10px;
  color: #b1b1b1;
  display: flex;
  position: fixed;
  width: 100%;
  min-width: 314px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: space-around;
}
.file-structure {
  min-width: 314px;
  margin: 8px auto 100px;
}
.display {
  cursor: pointer;
  font-size: 15px;
  margin: 15px 20px;
  padding: 2px;
  display: flex;
}
.display:not(.selected):hover {
  background-color: #eaf0f9;
  padding: 2px;
  color: #999;
}
.children {
  position: inherit;
  margin-left: 24px;
}
.close {
  display: none;
}
.btn {
  border: 1px solid;
  padding: 6px 18px;
  border-radius: 3px;
  background-color: #257cff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.file +div {
  width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.selected {
  background-color: #257cff;
  padding: 2px;
  color: #fff;
}

/* Style for icons */
.close-btn, .closed, .collapsed, .file, .public-folder, .private-folder {
  cursor: pointer;
  background-image: url(./icon-sprite.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 16px;
  height: 13px;
}
.file, .public-folder, .private-folder {
  width: 15px;
  height: 14px;
}
.closed, .collapsed {
  opacity: 0.4;
  margin-right: 5px;
}
.closed {
  background-position: -55px 1px;
}
.collapsed {
  background-position: -69px 1px;
}
.file {
  background-position: -28px 0px;
}
.public-folder {
  background-position: 1px 0px;
}
.private-folder {
  background-position: -14px 0px;
}

.selected .closed {
  background-position: -84px 1px;
}
.selected .collapsed {
  background-position: -98px 1px;
}
.close-btn {
  float: right;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 16px;
  top: 19px;
  opacity: 0.4;
  background-position: -42px -1px;
}
